---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
      <a href="https://github.com/NGOMeToo/NGOMeToo.github.io/edit/master/{{ page.path }}">点此纠错</a>
    </ul>
  </div>

  <font size=2px>
     本页面信息均为采集媒体报道、微信公众号、微博等公开渠道信息汇总编辑。如有补充、建议，或愿意参与志愿协作编辑，请与 <a href="HelpMiTu@protonmail.com">HelpMiTu@protonmail.com</a> 联系。如您有个人信息申诉或受性侵/性骚扰案件求助，请联系 <a href="mailto:NGOMeToo@gmail.com">NGOMeToo@gmail.com</a>.
  </font>

  <hr style="border-top: 2px solid #f1f3f5;"/>

  <div class="entry">
    {{ content }}
  </div>

  <script> pangu.spacingPage(); </script>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

</article>
