---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
      <a href="https://github.com/NGOMeToo/NGOMeToo.github.io/edit/master/{{ page.path }}">点此纠错</a>
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <hr style="border-top:1px solid #28323C;"/>

  <font size=2px>
    本作品采用[知识共享-署名(CC-BY4.0)](https://creativecommons.org/licenses/by/4.0/) 国际版本许可协议进行许可。所有内容皆可以任意转载，但转载时务必请注明出处。
    <br>
    以上系从各媒体报道、当事人微博、微信、微信群发言的内容汇集而成，为方便读者全方面了解事件过程而进行的整理。文章内使用的文字版权归原作者所有。如果侵犯了你的权益，请联系<HelpMiTu@protonmail.com>, 我们将在第一时间删除。
  </font>

  <script> pangu.spacingPage(); </script>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

</article>
