---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
      <a href="https://github.com/NGOMeToo/NGOMeToo.github.io/edit/master/{{ page.path }}">点此纠错</a>
    </ul>
  </div>

  <font size=2px>
     本页面信息均为采集媒体报道、微信公众号、微博等公开渠道信息汇总编辑。如有补充、建议，或愿意参与志愿协作编辑，请与 <a href="HelpMiTu@protonmail.com">HelpMiTu@protonmail.com</a> 联系。如您有个人信息申诉或受性侵/性骚扰需要求助，请联系 <a href="mailto:NGOMeToo@gmail.com">NGOMeToo@gmail.com</a>.
  </font>

  <hr style="border-top: 2px solid #f1f3f5;"/>

  <div class="entry">
    {{ content }}
  </div>

  <hr style="border-top:1px solid #28323C;"/>

  <font size=2px>
    本作品采用<a href="https://creativecommons.org/licenses/by/4.0/">知识共享-署名(CC-BY4.0)</a>国际版本许可协议进行许可。所有内容皆可以任意转载，但转载时务必请注明出处。
    <br>
    本页面所使用的公益形象为「小兔子乖乖」，感谢创作者 Jess 支持 #MeToo.
  </font>

  <script> pangu.spacingPage(); </script>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            上一篇： {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            下一篇：{{ page.next.title }}
          </a>
      </span>
    {% endif %}
  </div>

  <div
    class="just-comments"
    data-allowguests="true"
    data-locale="zh_CN"
    data-apikey="1d005616-d125-4190-a448-c1c0e746f291">
  </div>
  <script async src="https://just-comments.com/w.js"></script>
  
</article>
